<%= dm_form_for [@organization, @toner], title: "Toner posseduto da #{current_organization}" do |toner| %>
  <%= toner.dm_error_notification %>  

  <div data-controller="model-selector" 
       data-model-selector-vendor-to-models-value=<%= raw vendor_to_models_array(:toners).to_json.html_safe %>>
    <%= toner.input :vendor, 
      collection: Vendor.with_toner_models.order(:name).all, 
      input_html: {data: {action: "change->model-selector#change", "model-selector-target": "vendor"}},
      selected: @toner.vendor.id if @toner.vendor %>
    <%= toner.association :toner_model,
      input_html: {data: {"model-selector-target": "model"}}, 
      hint: link_to(t(:add_new_toner_model), new_toner_model_path)  %>  
  </div>

  <%= toner.input :number %>  
  <%= toner.input :gift, hint: t(:gift_hint) %>  

  <%= toner.submit t(:save) %>
<% end %>
