<div class="alert alert-warning">
  <h2>
    <% if @available_toners.empty? %>
      <i class="fa-solid fa-face-sad-tear fa-2xl text-alert me-2"></i>
    <% else %>
      <i class="fa-solid fa-face-smile fa-2xl text-success me-2"></i>
    <% end %>
    Toner diponibili per la struttura <%= @organization.name %>
  </h2>
  <% if @available_toners.empty? %>  
    <p><%= t :no_available_toners %></p>
  <% else %>
    <ul>
      <% @available_toners.each do |toner| %>  
        <li class="my-2">
          Per la stampante <strong><%= toner.toner_model.printers(@organization).map(&:name).join(', ') %></strong>
          <%= (toner.number > 1) ? 'sono disponibili' : 'è disponibile' %>  
          <%= toner.number %> toner <strong><%= toner %></strong>.
          <div class="ps-2">
          presso <%= link_to toner.organization.name, current_organization_root_path(__org__: toner.organization.code) %><br/>
          contatta 
          <%= toner.organization.permissions.map{|p| link_to p.user.to_s, "mailto: #{p.user.upn}"}.join(', ').html_safe %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>
  Puoi controllare direttamente l'<%= link_to 'elenco di tutte le stampanti compatibili', toners_path %> con i relativi toner disponibili. 
  </p>
</div>
