<% if @available_toners.empty? %>  
  <p class="alert alert-warning"><%= dmicon 'times-circle', size: 32 %> <%= t :no_available_toners %></p>
<% end %>
<ul>
  <% @available_toners.each do |toner| %>  
    <% alert_class = (toner.organization == current_organization) ? "alert-danger" : "alert-success" %>  
    <li class="alert <%= raw alert_class %>">
      <%= dmicon 'thumbs-o-up', size: 32 %>  
      per <strong><%= toner.toner_model.printers(current_organization).map(&:name).join(', ') %></strong><br/>
      <%= (toner.number > 1) ? 'sono disponibili' : 'è disponibile' %>  
      <%= toner.number %> toner <%= toner %><br/>
      presso <strong><%= link_to toner.organization, organization_path(toner.organization) %></strong><br/>
      contatta 
      <%= toner.organization.permissions.map{|p| link_to p.user.to_s, "mailto: #{p.user.upn}"}.join(', ').html_safe %>
    </li>
  <% end %>
</ul>

<p>
  Puoi controllare direttamente l'<%= link_to 'elenco di tutte le stampanti compatibili', toners_path %> con i toner disponibili. 
  <%= link_to dmicon('file-pdf-o'), report_path %>  
</p>

