<div>
  <h2><%= dmicon :gift %> <%= t(:toner_available_for_your_printers) %></h2>
  <%= render 'available_toners', organization: current_organization %>  
</div>

<hr/>

<% if policy(current_organization).edit? %>  
  <div class="organization-owning my-5">
    <div class="toners">
      <h2><%= dmicon :tint %> <%= t :toners %> <br/> <small>in <%= current_organization.name %></small></h2>
      <%= render 'toners', organization: current_organization %>  
    </div>

    <div class="printers">
      <h2><%= dmicon :print %> <%= t :printers %> <br/> <small>in <%= current_organization.name %></small></h2>
      <%= render 'printers', organization: current_organization %>  
    </div>
  </div>
<% end %>

<hr/>

<div class='my-5'>
  <%= render 'admins', organization: current_organization %>  
</div>

