<h1><%= t :search_results %> <small>"<%= params[:search_string] %>"</small></h1>

<div class="row">
  <div class="col-md-6">
    <%= dm_card title: t(:printer_models) do %>  
      <div class="list-group">
        <% @printer_models.each do |printer_model| %>  
          <%= link_to printer_model, printer_model_path(printer_model), class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= dm_card title: t(:toner_models) do %>  
      <div class="list-group">
        <% @toner_models.each do |toner_model| %>  
          <%= link_to toner_model, toner_model_path(toner_model), class: "list-group-item list-group-item-action" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
