<h1><%= t :printer_model %></h1>

<p class="info">
  I modelli sono condivisi tra tutte le strutture. Si prega di mantenere i dati corretti.
</p>

<%= horizontal_form_for(@printer_model) do |printer_model| %>
  <%= printer_model.dm_error_notification %>  

  <%= printer_model.association :vendor, collection: Vendor.order(:name), include_blank: false, hint: link_to("Aggiungi una nuova marca all'elenco", new_vendor_path) %>  
  <%= printer_model.input :name %>  
  <%= printer_model.input :laser %>  

  <%= printer_model.submit %>

  <% unless @printer_model.new_record? %>  
    - <%= link_to icon('plus') + ' aggiungi stampante', new_printer_model_printer_path(@printer_model) %>
  <% end %>
<% end %>
