<h1><%= t :printer_model %></h1>

<p class="info">
  I modelli sono condivisi tra tutte le strutture. Si prega di mantenere i dati corretti.
</p>
<%= horizontal_form_for(@printer_model) do |printer_model| %>
  <%= printer_model.dm_error_notification %>  

  <%= printer_model.association :vendor, include_blank: false %>  
  <%= printer_model.input :name %>  
  <%= printer_model.input :laser %>  

  <%= printer_model.submit %>
<% end %>
