<p class="alert alert-warning"> <%= t :please_mantain_correct_data %></p>

<%= dm_form_for @printer_model, title: t(:printer_model) do |printer_model| %>
  <%= printer_model.dm_error_notification %>  

  <%= printer_model.association :vendor, collection: Vendor.order(:name), include_blank: false, hint: link_to("Aggiungi una nuova marca all'elenco.", new_vendor_path) %>  
  <% hint = @printer_model.new_record? ? t(:multiple_name_with_semicolon_hint) : '' %>  
  <%= printer_model.input :name, hint: hint %>  
  <%= printer_model.input :laser %>  

  <%= printer_model.submit %> - <%= link_to_back current_organization_root_path %>  
<% end %>

