<%= main_title "#{t :printer_model}: #{printer_model}" %>

<% if @available_toners.empty? %>  
  <p class="alert alert-warning"><%= t :no_available_toners_for_this_printer %></p>
<% else %>
  <div class="alert alert-success">
    Sono disponibili toner presso:
    <ul>
      <% @available_toners.each do |available_toner| %>
        <li><%= link_to available_toner.organization, organization_path(available_toner.organization) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @compatible_toners.empty? %>  
  <p class="alert alert-warning">Registrazione incompleta. Si prega di aggiungere i modelli di toner compatibili.</p>
<% else %>
  <dl>
    <dt>Modelli di toner compatibili:</dt>
    <% @compatible_toners.each do |compatible_toner| %>  
      <dd><%= modal_link_to compatible_toner, compatible_toner %></dd>
    <% end %>
  </dl>
<% end %>

<% if (printers = @printer_model.printers).any? %>  
  <dl>
    <dt>Stampanti di questo modello si trovano presso:</dt>
    <% printers.map(&:organization).uniq.each do |organization| %>  
      <dd <%= 'style="font-weight: bold"'.html_safe if organization == current_organization %>>
        <%= link_to organization, current_organization_root_path %>
        <% if organization == current_organization %>  
          - <%= @printer_model.printers.where(organization_id: organization.id).map(&:name).join(', ') %>
        <% end %>
      </dd>
    <% end %>
  </dl>
<% end %>

<%= dm_modal_js_helper %>  
