<h1><%= t :printer_models %></h1>

<dl class="printers-list">
  <% @printer_models.group_by {|tm| tm.vendor}.each do |vendor, models| %>
    <dt><%= vendor %></dt>
    <% models.each do |model| %>  
      <dd>
        <%= link_to model.name, new_printer_model_printer_path(model), title: t(:add_printer) %>
        <span class="actions"><%= link_to_edit(edit_printer_model_path(model)) %></span>
      </dd>
    <% end %>
  <% end %>
</dl>

<p><%= link_to_new 'Aggiungi modello', new_printer_model_path %> - <%= link_to_back root_path %></p>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $("dd").toggle();
    $("dt").click(function() {
      $(this).nextUntil("dt", "dd").slideToggle();
    });
  });
<% end %>
