<%= dm_form_for [@organization, @printer], title: "Stampante in #{current_organization}" do |printer| %>
  <%= printer.dm_error_notification %>  

  <%= printer.input :name, hint: t(:printer_name_hint) %>  

  <%# vendor_id: array of printer_models %>
  <%# { 10: [1,2,4], 20: [3,7] } %>
  <div data-controller="model-selector" 
     data-model-selector-vendor-to-models-value=<%= raw vendor_to_models_array(:printers).to_json.html_safe %>
     data-model-selector-vendor-to-models2-value='{"3": [1,2,3], "2": [2,2,2]}'>
    <%= printer.input :vendor, 
      collection: Vendor.with_printer_models.order(:name).all, 
      input_html: {data: {action: "change->model-selector#change"}},
      selected: @printer.vendor.id if @printer.vendor %>
    <%= printer.association :printer_model, hint: link_to(t(:add_new_printer_model), new_printer_model_path)  %>  
  </div>
  <%= printer.input :description, hint: t(:printer_description_hint) %>
  <%= printer.input :rent, hint: t(:printer_rent_hint) %>
  <%= printer.submit %> - <%= link_to_back current_organization_root_path %>  
<% end %>
