<div>
  <p>
  <em><%= @printer.description unless @printer.description.blank? %></em>
  <%= '<u>Affitto</u>'.html_safe if @printer.rent %>  
  </p>
  <dl class="dl-horizontal">
    <dt><%= t :description %>:</dt>
    <dd><%= @printer.description %></dd>

    <dt><%= t :model %>:</dt>
    <dd><%= link_to @printer.printer_model, @printer.printer_model %></dd>

    <dt><%= t :toners %>:</dt>
    <% printer.printer_model.toner_models.each do |toner_model| %>  
      <dd><%= link_to toner_model, toner_model %></dd>
    <% end %>
  </dl>

  <div class="float-end">
    <% if policy(printer).edit? %>  
      <%= link_to_edit "", edit_printer_path(printer) %> 
      <%= link_to_delete "", printer_path(printer) %> 
    <% end %>
    <% if printer.name =~ /unibo.it/ %>
      <%= link_to dm_icon('external-link-alt'), 'http://' + printer.name, target: 'new' %>  
    <% end %>
  </div>
</div>
