<% if @available_toners.empty? %>  
  <p class="alert alert-warning"><%= icon 'close', size: 32 %>  <%= t :no_available_toners %></p>
<% end %>
<ul>
  <% @available_toners.each do |toner| %>  
    <% alert_class = (toner.organization == organization) ? "alert-danger" : "alert-success" %>  
    <li class="alert <%= raw alert_class %>">
      <%= icon 'thumbs-o-up', size: 32 %>  
      per <strong><%= toner.toner_model.printers(organization).map(&:name).join(', ') %></strong><br/>
      <%= (toner.number > 1) ? 'sono disponibili' : 'è disponibile' %>  
      <%= toner.number %> toner <%= toner %><br/>
      presso <strong><%= link_to toner.organization, helps_path %></strong><br/>
      contatta 
      <%= toner.organization.admins.map{|admin| link_to admin.to_s, "mailto: #{admin.user.upn}"}.join(', ').html_safe %>
    </li>
  <% end %>
</ul>

<p>Puoi controllare direttamente l'<%= link_to 'elenco di tutte le stampanti compatibili', toners_path %> con i toner disponibili. <%= link_to icon('file-pdf-o'), report_path %>  </p>

