<ul>
  <% organization.toners.includes(toner_model: [:printer_models, :vendor]).order('vendors.name, toner_models.name').each do |toner| %>  
    <li class="<%= 'gift-class' if toner.gift %>">
      <span class="toner_number"><%= toner.number %></span> 

      <strong><%= modal_link_to toner.to_s, toner_model_path(toner.toner_model) %></strong><br/>

      <% if toner.gift %>  
        <%= t(:unused) if toner.gift %> 
        <% toner.toner_model.interested_organizations.each do |organization| %>   
          <br/><%= link_to organization, organization %>  
        <% end %>
      <% end %>

      <% compatible_printers = toner.compatible_printers.all %>  

      <% if compatible_printers.empty? and ! toner.gift %>
        (verificare se utilizzabile da qualche stampante)
      <% else %>
        <%= compatible_printers.map(&:short_name).join(', ') %>  
      <% end %>

      <span class="actions">
        <% if toner.gift and toner.number > 0 and organization.interested_in?(toner) %>  
          <%= link_to content_tag(:strong, icon(:warning), class: 'missing-field', title: 'Hai una stampante compatibile'), edit_toner_model_path(toner.toner_model) %>
        <% end %>
        <%= link_to_edit edit_toner_path(toner) %> 
        <%= link_to_delete toner_path(toner) %>
      </span>
    </li>
  <% end %>
</ul>

<p class="mt-3"><%= link_to_new t(:new_toner), new_organization_toner_path(organization) %></p>

