<h1><%= t :organizations %></h1>

<ul class="bordered">
  <% @organizations.each do |organization| %>
    <li>
      <% if organization == @current_organization %>
        <%= link_to organization, organization_path(organization) %>  
      <% else %> 
        <%= organization %> 
      <% end %>
      <% if current_user.is_cesia? %>  
        <span class="actions"><%= link_to_edit edit_organization_path(organization) %></span>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.is_cesia? %>  
  <%= link_to_new 'Nuova struttura', new_organization_path %>
<% end %>

