<h1><%= @organization.name %> - <small><%= @organization.description %></small></h1>

<div class='mb-3'>
  <%= render 'home/admins', organization: @organization, modifiable: (@organization == current_organization) %>  
</div>

<% if (unusable_toners = @organization.unusable_toners).any? %>
  <%= dm_card title: dmicon(:gift) + ' Toner resi disponibili per altre strutture:' do %>  
    <ul>
      <% unusable_toners.each do |toner| %>
        <li><%= modal_link_to toner.toner_model, toner.toner_model %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
