<h1><%= @organization.name %> <small><%= @organization.description %></small></h1>

<div>
  <strong><%= t :admins %></strong>: 
  <%= @organization.admins_string %>  
  - <%= link_to 'nuovo amministratore', new_organization_admin_path(@organization) %>  
</div>

<div id="organization_owning">
  <div class="interesting">
    <h2><%= icon :gift %>  Toner disponibili per le tue stampanti</h2>
    <% if @available_toners.empty? %>  
      <p class="alert alert-warning"><%= t :no_available_toners %></p>
    <% end %>
    <ul>
      <% @available_toners.each do |toner| %>  
        <% alert_class = (toner.organization == @organization) ? "alert-danger" : "alert-success" %>  
        <li class="alert <%= raw alert_class %>">
          per <strong><%= toner.toner_model.printers(@organization).map(&:name).join(', ') %></strong><br/>
          <%= (toner.number > 1) ? 'sono disponibili' : 'è disponibile' %>  
          <%= toner.number %> toner <%= toner %><br/>
          presso <strong><%= link_to toner.organization, helps_path %></strong><br/>
          contatta <%= toner.organization.admins_string %>.
        </li>
      <% end %>
    </ul>
    <h2><%= icon :tint %> Toner inutilizzati <small><%= @organization.name %></small></h2>
    <%= render 'toners', organization: @organization %>  
  </div>
  <div class="printers">
    <h2><%= icon :print %>  Stampanti <small><%= @organization.name %></small></h2>
    <%= render 'printers', organization: @organization %>  
  </div>
</div>

