<h1><%= @organization.name %> <small><%= @organization.description %></small></h1>

<div>
  <strong><%= t :admins %></strong>: 
  <%= @organization.admins_string %>  
  - <%= link_to 'nuovo amministratore', new_organization_admin_path(@organization) %>  
</div>

<div id="organization_owning">
<div class="interesting">
  <h2>Toner disponibili per le tue stampanti</h2>
  <ul>
    <% @organization.available_toners.each do |toner| %>  
      <% alert_class = (toner.organization == @organization) ? "alert-danger" : "alert-success" %>  
      <li class="alert <%= raw alert_class %>">
        <%= toner %> presso <strong><%= link_to toner.organization, helps_path %></strong> (<%= toner.number %> disponibile/i) 
      </li>
    <% end %>
  </ul>
</div>
  <div class="toners">
    <h2>Elenco toner inutilizzati</h2>
    <%= render 'toners', organization: @organization %>  
  </div>
  <div class="printers">
    <h2>Elenco stampanti</h2>
    <%= render 'printers', organization: @organization %>  
  </div>
</div>

