<h1><%= @organization.name %> <small><%= @organization.description %></small>  </h1>

<div>
  <%= t :admins %>: 
  <%= @organization.admins.map {|admin| admin.to_s}.join(', ') %>
  - <%= link_to 'nuovo amministratore', new_organization_admin_path(@organization) %>  
</div>


<div id="organization_owning">
  <div class="toners">
    <h2>Elenco toner disponibili</h2>
    <ul>
      <% @organization.toners.each do |toner| %>  
        <li>
          <strong><%= toner.number %></strong> <%= toner %> <%= link_to_edit edit_toner_path(toner) %> <%= link_to_delete toner_path(toner)  %>  
        </li>
      <% end %>
    </ul>
    <%= link_to_new 'nuovo toner', new_organization_toner_path(@organization) %>  
  </div>

  <div class="printers">
    <h2>Elenco stampanti possedute</h2>
    <ul>
      <% @organization.printers.each do |printer| %>  
        <li><%= printer %></li>
      <% end %>
    </ul>
    <%= link_to_new 'nuova stampante', new_organization_printer_path(@organization) %>  
  </div>
</div>

<div>
  <h2>Toner disponibili per le tue stampanti</h2>

  <ul>
  <% @organization.available_toners.each do |toner| %>  
    <li><%= toner %> presso <%= toner.organization %> (<%= toner.number %> disponibili) </li>
  <% end %>
  </ul>
  
</div>
