<h1>Toner</h1>

<%= horizontal_form_for(@toner_model) do |toner_model| %>
  <%= toner_model.dm_error_notification %>  

  <div id="details">
    <%= toner_model.association :vendor, hint: link_to("Aggiungi una nuova marca all'elenco", new_vendor_path) %>  
    <%= toner_model.input :name %>  
  </div>

  <h2>Stampanti compatibili</h2>

  <div class="panel-group" id="compatible_printers" role="tablist" aria-multiselectable="true">
    <% Vendor.order(:name).each do |vendor| %>

      <% models = vendor.printer_models %>
      <% next if models.empty? %>  

      <% collapseRef   = "collapse_#{vendor.id}" %>  
      <% headingRef    = "heading_#{vendor.id}" %>  
      <% aria_expanded = "false" %>  

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="<%= headingRef %>">
          <div class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= collapseRef %>" aria-expanded="<%= aria_expanded %>" aria-controls="<%= collapseRef %>">
              <%= vendor %>  
            </a>
          </div>
        </div>
        <div id="<%= collapseRef %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="<%= headingRef %>">
          <div class="panel-body" >
            <%= toner_model.association :printer_models, collection: models, as: :check_boxes, label: false %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= toner_model.submit 'Salva' %> - <%= link_to_back toner_models_path %>  
<% end %>

<%= javascript_tag do %>  
  $(function(){
    $("input:checked").closest(".panel-collapse").collapse('show');
  }); 
<% end %>
