<h1>Toner</h1>

<%= horizontal_form_for(@toner_model) do |toner_model| %>
  <%= toner_model.dm_error_notification %>  

  <div id="details">
    <%= toner_model.association :vendor, hint: link_to("Aggiungi una nuova marca all'elenco", new_vendor_path) %>  
    <%= toner_model.input :name %>  
  </div>

  <div id="printer_models_checkbox">
    <h2>Stampanti compatibili</h2>
    <div class="vendor">
      <p class="title">Marca</p>
      <ul>
        <% Vendor.order(:name).each do |vendor| %>    
          <li><%= link_to vendor, "#", id: vendor.id %> </li>
        <% end %>
      </ul>
    </div>
    <div class="model">
      <p class="title">Modelli</p>
      <div id="models">
        <% Vendor.order(:name).each do |vendor| %>
          <% models = vendor.printer_models %>  
          <% unless models.empty?  %>  
            <div id="vendor<%= vendor.id %>">
              <%= toner_model.association :printer_models, collection: vendor.printer_models, as: :check_boxes, label: false %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= toner_model.submit 'Salva' %>
<% end %>

<%= javascript_tag do %>  
  <%= render partial: 'printer_models', formats: :js %>  
<% end %>
