<h1>Toner</h1>

<%= horizontal_form_for(@toner_model) do |toner_model| %>
  <%= toner_model.dm_error_notification %>  

  <div id="details">
    <%= toner_model.input :name %>  
    <%= toner_model.association :vendor, hint: link_to("Aggiungi marca all'elenco", new_vendor_path) %>  
  </div>

  <div id="printer_models_checkbox">
    <h2>Stampanti compatibili</h2>
    <div class="vendor">
      <p class="title">Marca</p>
      <% Vendor.order(:name).each do |vendor| %>    
        <input type="radio" name="vendor_id" value="<%= vendor.id %>"/> <%= vendor.name %> <br/>
      <% end %>
    </div>
    <div class="model">
      <p class="title">Modello</p>
      <div id="models">
      </div>
    </div>
  </div>

  <%= toner_model.submit 'Salva' %>
<% end %>

<%= javascript_tag do %>  
  <%= render partial: 'printer_models', formats: :js %>  
<% end %>
