<p class="alert alert-warning"> <%= t :please_mantain_correct_data %></p>

<%= dm_form_for @toner_model, title: "Modifica del modello di toner #{@toner_model.name}" do |toner_model| %>
  <%= toner_model.dm_error_notification %>  

  <%= toner_model.association :vendor, collection: Vendor.order(:name), include_blank: false, hint: link_to(t(:add_new_vendor), new_vendor_path) %>  
  <%= toner_model.input :name, hint: t(:toner_model_name_hint) %>  

  <h2>Stampanti compatibili</h2>

  <% Vendor.includes(:printer_models).order('vendors.name').each do |vendor| %>
    <% models = vendor.printer_models %>
    <% next if models.empty? %>  

    <div class="card">
      <div class="card-header"><%= vendor %></div>
      <div class="card-body">
        <%= toner_model.association :printer_models, collection: models, as: :check_boxes, label: false %>
        <%= link_to "aggiungi nuova stampante #{vendor.name}", new_printer_model_path(vendor_id: vendor.id) %>
      </div>
    </div>
  <% end %>

  <%= toner_model.submit 'Salva' %> - <%= link_to_back toner_models_path %>  
<% end %>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $(".card-body").toggle();
    $(".card-header").click(function() {
      $(this).next(".card-body").slideToggle();
    });
    $("input:checked").closest(".card-body").show();
  });
<% end %>
