<% unless @toner_model.new_record? %>  
  <p class="centered_action"><%= link_to icon('plus') + " Aggiungi toner #{@toner_model.to_s} a #{@current_organization.name}", new_toner_model_toner_path(@toner_model), class: :button %></p>
<% end %>

<h1>Toner</h1>

<%= horizontal_form_for(@toner_model) do |toner_model| %>
  <%= toner_model.dm_error_notification %>  

  <div id="details">
    <%= toner_model.association :vendor, collection: Vendor.order(:name), include_blank: false, hint: link_to("Aggiungi una nuova marca all'elenco", new_vendor_path) %>  
    <%= toner_model.input :name %>  
  </div>

  <h2>Stampanti compatibili</h2>

  <dl class="printers-list">
    <% Vendor.includes(:printer_models).order('vendors.name').each do |vendor| %>
      <% models = vendor.printer_models %>
      <% next if models.empty? %>  

      <dt><%= vendor %> </dt>
      <dd><%= toner_model.association :printer_models, collection: models, as: :check_boxes, label: false %></dd>
      <dd><%= link_to "aggiungi nuova stampante #{vendor.name}", new_printer_model_path(vendor_id: vendor.id), class: :button %>  
    <% end %>
  </dl>

  <%= toner_model.submit 'Salva' %> - <%= link_to_back toner_models_path %>  
<% end %>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $("dd").toggle();
    $("dt").click(function() {
      $(this).nextUntil("dt", "dd").slideToggle();
    });
    $("input:checked").closest("dd").show();
  });
<% end %>
