<p class="info"> <%= t :please_mantain_correct_data %> </p>

<%= horizontal_form_for(@toner_model) do |toner_model| %>
  <%= toner_model.dm_error_notification %>  

  <div id="details">
    <%= toner_model.association :vendor, collection: Vendor.order(:name), include_blank: false, hint: link_to("Aggiungi una nuova marca all'elenco.", new_vendor_path) %>  
    <%= toner_model.input :name, hint: t(:toner_model_name_hint) %>  
  </div>

  <h2>Stampanti compatibili</h2>

  <dl class="printers-list">
    <% Vendor.includes(:printer_models).order('vendors.name').each do |vendor| %>
      <% models = vendor.printer_models %>
      <% next if models.empty? %>  

      <dt><%= vendor %> </dt>
      <dd><%= toner_model.association :printer_models, collection: models, as: :check_boxes, label: false %></dd>
      <dd><%= link_to "aggiungi nuova stampante #{vendor.name}", new_printer_model_path(vendor_id: vendor.id) %>  
    <% end %>
  </dl>

  <%= toner_model.submit 'Salva' %> - <%= link_to_back toner_models_path %>  
<% end %>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $(".printers-list dd").toggle();
    $(".printers-list dt").click(function() {
      $(this).nextUntil("dt", "dd").slideToggle();
    });
    $("input:checked").closest("dd").show();
  });
<% end %>
