<% if @available_toners.empty? %>  
  <p class="alert alert-warning"><%= t :no_present_toners %></p>
<% else %>
  <%= dm_card title: t(:present_toners) do %>  
    <div class="list-group">
      <% @available_toners.each do |available_toner| %>
        <%= link_to available_toner.organization.code, root_path(__org__: available_toner.organization.code), class: "list-group-item list-group-item-action" %>  
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @compatible_printers.empty? %>  
  <p class="alert alert-warning">Registrazione incompleta. Si prega di aggiungere stampanti compatibili.</p>
<% else %>
  <%= dm_card title: t(:compatible_printers) do %>  
    <div class="list-group">
      <% @compatible_printers.each do |compatible_printer| %>  
        <%= modal_link_to compatible_printer, compatible_printer, addclass: "list-group-item list-group-item-action" %>
    <% end %>
    </div>
  <% end %>
<% end %>
