<% if @available_toners.empty? %>  
  <p class="alert alert-warning"><%= t :no_present_toners %></p>
<% else %>
  <div class="alert alert-success">
    <%= t :present_toners %>:
    <ul>
      <% @available_toners.each do |available_toner| %>
        <li>
          <%= link_to available_toner.organization, root_path(__org__: available_toner.organization.code) %>  
          <% if current_organization == available_toner.organization %>  
            <%= link_to_edit edit_toner_path(available_toner) %>  
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @compatible_printers.empty? %>  
  <p class="alert alert-warning">Registrazione incompleta. Si prega di aggiungere stampanti compatibili.</p>
<% else %>
  <h3><%= t :compatible_printers %></h3>
  <div class="list-group">
    <% @compatible_printers.each do |compatible_printer| %>  
      <%= modal_link_to compatible_printer, compatible_printer, addclass: "list-group-item list-group-item-action" %></dd>
    <% end %>
  </div>
<% end %>

<%# <%= dm_modal_js_helper %1> %>  
