<p class="centered_action">
<%= link_to icon('plus') + " Aggiungi toner #{@toner_model.to_s} a #{@current_organization.name}", new_toner_model_toner_path(@toner_model), class: :button %>
</p>

<h1>Modifica del modello di toner <%= @toner_model.name %></h1>

<p>
<% if @actual_toners.any? %>  
  <dl class="dl-horizontal">
    <dt>presente in:</dt>
    <% @actual_toners.each do |toner| %>
      <dd><%= toner.organization %>  (<strong><%= toner.gift ? 'Disponibile' : 'Non disponibile' %></strong>)</dd>
    <% end %>
  </dl>
<% end %>
</p>

<%= render 'form' %>

