<h1><%= t :toner_models %></h1>

<dl class="toners-list">
  <% @toner_models.group_by {|tm| tm.vendor}.each do |vendor, models| %>
    <dt><%= vendor %></dt>
    <% models.each do |model| %>  
      <dd>
        <%= icon('check') if @organization_toner_model_ids.include?(model.id) %>
        <strong><%= modal_link_to model.name, toner_model_path(model) %></strong>
        <% unless (printer_models_string = model.printer_models.map(&:name).join(', ')).blank? %>  
          <span class="details"><small>(per le stampanti: <%= printer_models_string %>)</small></span>
        <% end %>
      </dd>
    <% end %>
  <% end %>
</dl>

<p class="mt-3"><%= link_to_new 'Aggiungi modello di toner', new_toner_model_path %> - <%= link_to_back root_path %></p>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $("dd").toggle();
    $("dt").click(function() {
      $(this).nextUntil("dt", "dd").slideToggle();
    });
  });
<% end %>
