<h1><%= t :toner_models %></h1>

<ul class="accordion" id="list">
  <% @toner_models.group_by {|tm| tm.vendor}.each do |vendor, models| %>
    <li class="accordion-item">
      <h2 class="accordion-header" id="heading_<%= dom_id(vendor) %>">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= dom_id(vendor) %>" aria-expanded="false" aria-controls="collapse<%= dom_id(vendor) %>">
          <%= vendor %>
        </button>
      </h2>
      <div id="collapse<%= dom_id(vendor) %>" class="accordion-collapse collapse" aria-labelledby="heading<% dom_id(vendor) %>" data-bs-parent="#list">
        <div class="accordion-body">
          <% models.each do |model| %>  
            <% btn_style = @organization_toner_model_ids.include?(model.id) ? 'btn-success' : 'btn-outline-info' %>  
            <%= modal_link_to model.name, toner_model_path(model), addclass: "btn #{btn_style} m-1" %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<div class="mt-3">
  <%= link_to_new t(:add_new_toner_model), new_toner_model_path %> - <%= link_to_back current_organization_root_path %>
</div>
