<h1>Modelli di toner</h1>

<dl class="toners-list">
  <% @toner_models.group_by {|tm| tm.vendor}.each do |vendor, models| %>
    <dt><%= vendor %></dt>
    <% models.each do |model| %>  
      <% owned_class = @organization_toner_model_ids.includes?(model_id) ? "class='owned'" : "" %>
      <dd <%= owned_class %>>
        <strong><%= link_to model.name, new_toner_model_toner_path(model), title: t(:add_toner) %></strong>
        <small>(per le stamapnti: <%= model.printer_models.map(&:name).join(', ') %>)</small>
        <span class="actions"><%= link_to_edit(edit_toner_model_path(model)) %></span>
      </dd>
    <% end %>
  <% end %>
</dl>

<p><%= link_to_new 'Aggiungi modello di toner', new_toner_model_path %> - <%= link_to_back root_path %></p>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $("dd").toggle();
    $("dt").click(function() {
      $(this).nextUntil("dt", "dd").slideToggle();
    });
  });
<% end %>
