<h1><%= t :toner_models %></h1>

<ul class="list-group">
  <% @toner_models.group_by {|tm| tm.vendor}.each do |vendor, models| %>
    <li class="list-group-item"><%= vendor %></li>
    <div class="models_list">
      <% models.each do |model| %>  
        <span class="btn btn-outline-info m-1">
          <%= icon('check') if @organization_toner_model_ids.include?(model.id) %>
          <strong><%= modal_link_to model.name, toner_model_path(model) %></strong>
        </span>
      <% end %>
    </div>
  <% end %>
</ul>

<p class="mt-3"><%= link_to_new t(:add_new_toner_model), new_toner_model_path %> - <%= link_to_back root_path %></p>

<%= javascript_tag do %>  
  $(document).ready(function(){
    $(".models_list").toggle();
    $("li").click(function() {
      $(this).css('font-weight', 'bold');
      $(this).next(".models_list").slideToggle();
    });
  });
<% end %>
