<%= dm_menu do %>  
  <%= dm_header %>
  <%= dm_nav do %>  
    <% if @current_organization %>  
      <li><%= link_to big_icon('home', text: "Home"), root_path %></li>

      <%= dropdown_menu :models, big_icon('database', text: t(:models)) do %>  
        <%= link_to fwicon('print', text: t(:printer_models)), printer_models_path %>
        <%= link_to fwicon('cubes', text: t(:toner_models)), toner_models_path %>
      <% end %>

      <%= dropdown_menu :organization, big_icon('building', text: @current_organization.name) do  %>
        <% @available_organizations.each do |organization| %>  
          <%= link_to icon('home', text: organization.short_description), root_path %>
        <% end %>
        <% if current_user.is_cesia? %>  
          <%= link_to icon('building', text: t(:organizations)), organizations_path %> 
        <% end %>
      <% end %>

      <!-- ricerca -->
      <%= form_tag search_path, class: "form-inline my-2 my-lg-0 ml-3", role: "search" do %>
        <div class="form-group">
          <input name="search_string" size="6" type="search" class="form-control mr-sm-2" placeholder="cerca" aria-label="Cerca" />
        </div>
      <% end %>

      <li><%= link_to big_icon('question'), helps_path %></li>
      <li><%= link_to 'en', root_path(locale: 'en') %></li>
      <li><%= link_to 'it', root_path(locale: 'it') %></li>  
    <% end %>
  <% end %>
<% end %>

